ipywidgets
pandas
pycountry
geopy
torch
transformers
spacy-cleaner
# https://spacy.io/usage/models#production
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
sqlalchemy
modin

h2o
shap